# ملفات Python المترجمة
*.pyc
__pycache__/

# ملفات البيئة الافتراضية
.venv/
env/
venv/

# ملفات قاعدة البيانات المحلية
*.db
*.sqlite3

# ملفات Odoo المولدة تلقائيًا
*.log
*.pot
*.po~

# ملفات VS Code أو أي IDE
.vscode/
.idea/

# ملفات النظام
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
*.pyd

*.log
.DS_Store
.idea/
.vscode/
